<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body style="background-color:#ffe4e1;">

<nav>
    <a href="#home">home</a>
    <a href="#blog">blog</a>
    <a href="#about">about</a>
</nav>

<h1>Blog</h1>

<h4 align="center">🌱 My major is Digital Agriculture Tech. I study Python, JavaScript, HTML, and CSS.<br>
Currently, I am studying about the front-end, reading a book, watching related YouTube, and studying on my own.<br>
These days, I most focused on plant smart-farm environmental control using Arduino and raspberry pie.
<br>⚡ Fun fact: I've gained weight lately, so I'm doing free weight training.</h4>
</body>
</html>